services:

    # mySQL Service
    mysql:
        image: mysql:latest
        container_name: mysql_container1
        restart: always
        volumes:
            - ./db_data:/var/lib/mysql
        environment:
            MYSQL_ROOT_PASSWORD: root
            MYSQL_USER: wordpress
            MYSQL_PASSWORD: wordpress
            MYSQL_DATABASE: wordpress
    
    # WordPress Service
    wordpress:
        depends_on:
            - mysql
        image: wordpress:latest
        container_name: wp_container
        volumes:
            - ./wp_data:/var/www/html
        environment:
            WORDPRESS_DB_HOST: mysql
            WORDPRESS_DB_USER: root
            WORDPRESS_DB_PASSWORD: root
            WORDPRESS_DB_NAME: wordpress
            WORDPRESS_DEBUG: 1
            XDEBUG_CONFIG: client_host=host.docker.internal
        ports:
            - "8000:80"