body {
    font-family: 'Poppins', sans-serif;
    color: #333;
}

header {
    background: #541C2B;
    width: 100%;
    height: 100px;
}

.page-wrap {
    padding:2rem 0;
}

/*Sidebar*/
.page-wrap .col-lg-3{
    padding:4rem 0;
    width: 20%;
    padding-right: 0.5rem;
    color: #222;
}

.page-wrap .col-lg-3 a {
    color: #8e8640;
    font-weight: 500;
    text-decoration: none;
    transition: color 0.2s ease;
}

.page-wrap .col-lg-3 a:hover {
    color: #762A3E;
}


/* Grapich barra menù top */

header .top-bar {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
}

header .container {
    display: flex;
    justify-content: left;
    align-items: center;
    height: 100%;
}

header .top-bar li a {
    padding:.25rem 1rem;
    color: #fff;
}

header .top-bar li{
    position: relative;
}

header .top-bar li .sub-menu {
    display: none;
    position: absolute;
    z-index: 999;
    top: 100%;
    left: 0;
    background: #fff;
    box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.1);
    margin: 0;
    padding: 0;
    list-style-type: none;
    width: 200px;
    border-radius: .5rem;
}

header .top-bar li .sub-menu a {
    color: rgb(0, 0, 0);
    padding: .25rem;
    text-align: center;
    display: block;
    text-decoration: none;
}

header .top-bar li .sub-menu a:hover {
    color: black;    
}


header .top-bar > .menu-item-has-children:hover > .sub-menu{
    display: block;
}

header .top-bar .menu-item-has-children .sub-menu > .menu-item-has-children:hover .sub-menu {
    display: block;
}


header .top-bar .sub-menu li .sub-menu {
    top: 0;
    left: 100%;
}

/*Grapich calendario */

.calendar-grid {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    gap: 6px;
    width: 40%;
    margin: 0 auto;

}
.calendar-header {
    display: flex;
    justify-content: center;
    align-items: normal;
}

.freccia {
    background: #23232300;
    border: none;
    color: rgb(0, 0, 0);
    font-size: 1.2rem;
    border-radius: 50%;
    width: 35px;
    height: 35px;
}

.day {
    border: 1px solid #181717;
    background: #22222200;
    min-height: 55px;
    min-width: 55px;
    display: flex;
    flex-direction: column;
    align-items: center;
    transition: background 0.2s;
}
.day:hover {
    background: #9d9d9d;
}

.day.empty {
    background: transparent;
    border: none;
}

.date {
    font-size: 16px;
    margin-bottom: 5px;
}

.emoji {
    width: 30px;
    height: 30px;
}

.icon-picker {
    background: #8F8A5C;
    color: white;
    padding: 15px;
    margin-top: 20px;
}

.icon-picker img {
    width: 40px;
    cursor: pointer;
}
.icon-picker img:hover {
    transform: scale(1.2);
}
.hidden {
    display: none;
}

/*Widget calendario */
.widget #calendar {
    transform: scale(0.90);    
    transform-origin:center;
    margin-top: 0;
    margin-bottom: 15px;
    width: 100%;
}

.widget #calendar-header {
    display: flex;              
    justify-content: center;   
    align-items: center;        
    gap: 0.5rem;                 
    margin-bottom: 0.5px;        
}
.widget #calendar-header h2{
  margin: 0;
  font-size: 1.2rem;
}

.widget .calendar-grid {
     gap: 0px;
}

.widget .day {
    min-height: 35px;
    min-width: 35px;
    font-size: 16px;
}

.widget .day .emoji {
    width: 30px;
    height: 30px;
}

.widget #icon-picker {
  display: none !important;
}


/* Template domande*/
.questions-page form {
    background: #f0cab886;
    border: 1px solid #eee;
    border-radius: 10px;
    padding: 1.5rem 2rem;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.05);
}

.questions-page select,
.questions-page input[type="text"] {
    width: 70%;
    margin-bottom: 0.80rem;
    margin-top: 0;
    border-radius: 5px;
    box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.1);
}

/*Template Risposte*/
.risposte {
    line-height: 1.2;
}


/* Journal page */
#user-submitted-posts fieldset{
           
    justify-content: center;   
    align-items: center;
    padding-left: 1rem !important;
    padding-right: 1rem !important;
}
#user-submitted-posts label {
    display: flex;
    font-weight: 550;
    font-size: 16px;
    margin-bottom: 0.4rem;
    color: #222;
}

#user-submitted-posts .usp-submit {
    margin-left: 1rem;
}


/* Jurnaal answers */
.card-body a {
    color:#8F8A5C; /* blu tipo WordPress */
    text-decoration: none; /* rimuove la sottolineatura */
    font-weight: bold;
}
